{ns hl7-fhir-au-draft-diagnostic-orders.diagnostic-task-base,
 import #{hl7-fhir-au-draft-diagnostic-orders.value-set.eorders-taskstatus
          zen.fhir
          hl7-fhir-au-base.au-diagnosticreport
          hl7-fhir-au-core.au-core-patient
          hl7-fhir-au-draft-diagnostic-orders.value-set.eorders-taskcode
          hl7-fhir-au-draft-diagnostic-orders.eorders-practitionerrole
          hl7-fhir-au-draft-diagnostic-orders.eorders-doctornumber
          hl7-fhir-r4-core.Task
          hl7-fhir-au-draft-diagnostic-orders.value-set.eorders-priority
          hl7-fhir-au-core.au-core-organization
          hl7-fhir-au-draft-diagnostic-orders.eorders-placergroupnumber
          hl7-fhir-au-core.au-core-healthcareservice},
 schema {:zen.fhir/version "0.6.30-10",
         :confirms #{zen.fhir/Resource hl7-fhir-r4-core.Task/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://draft.hl7.org.au/fhir/diagnostic-orders/StructureDefinition/diagnostic-task-base",
         :require #{:authoredOn
                    :for
                    :requester
                    :groupIdentifier
                    :code
                    :owner},
         :type zen/map,
         :zen/desc "Diagnostic Task Base",
         :keys {:meta {:type zen/map,
                       :keys {:tag {:type zen/vector,
                                    :slicing {:slices {}}}}},
                :statusReason {:fhir/flags #{:MS},
                               :zen/desc "Must support when status is rejected, cancelled or failed"},
                :authoredOn {:fhir/flags #{:MS},
                             :zen/desc "Request date"},
                :output {:type zen/vector,
                         :every {:type zen/map,
                                 :keys {:type {:match {:coding #{{:system "http://hl7.org/fhir/event-resource-types",
                                                                  :code "DiagnosticReport"}}}},
                                        :value {:fhir/polymorphic true,
                                                :type zen/map,
                                                :keys {:Reference {:confirms #{zen.fhir/Reference},
                                                                   :zen.fhir/reference {:refers #{hl7-fhir-au-base.au-diagnosticreport/schema}}}}}},
                                 :fhir/flags #{:MS},
                                 :zen/desc "Must support when completed"}},
                :for {:fhir/flags #{:MS},
                      :confirms #{zen.fhir/Reference},
                      :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-patient/schema}},
                      :zen/desc "Patient the fulfillment of the diagnostic request is for"},
                :requester {:type zen/map,
                            :keys {:identifier {:confirms #{hl7-fhir-au-draft-diagnostic-orders.eorders-doctornumber/schema},
                                                :zen/desc "Laboratory's doctor number for the requester"}},
                            :fhir/flags #{:MS},
                            :confirms #{zen.fhir/Reference},
                            :zen.fhir/reference {:refers #{hl7-fhir-au-draft-diagnostic-orders.eorders-practitionerrole/schema}},
                            :zen/desc "The provider requesting the diagnostic service"},
                :lastModified {:fhir/flags #{:MS},
                               :zen/desc "Date/time when task and/or status last updated"},
                :priority {:fhir/flags #{:MS},
                           :zen.fhir/value-set {:symbol hl7-fhir-au-draft-diagnostic-orders.value-set.eorders-priority/value-set,
                                                :strength :required},
                           :zen/desc "routine | urgent"},
                :status {:fhir/flags #{:MS},
                         :zen.fhir/value-set {:symbol hl7-fhir-au-draft-diagnostic-orders.value-set.eorders-taskstatus/value-set,
                                              :strength :required},
                         :zen/desc "requested | received | accepted | rejected | cancelled | in-progress | completed | failed"},
                :groupIdentifier {:confirms #{hl7-fhir-au-draft-diagnostic-orders.eorders-placergroupnumber/schema},
                                  :fhir/flags #{:MS}},
                :code {:fhir/flags #{:MS},
                       :zen.fhir/value-set {:symbol hl7-fhir-au-draft-diagnostic-orders.value-set.eorders-taskcode/value-set,
                                            :strength :required},
                       :zen/desc "fulfill | abort"},
                :intent {:const {:value "order"}, :zen/desc "order"},
                :owner {:fhir/flags #{:MS},
                        :confirms #{zen.fhir/Reference},
                        :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-organization/schema
                                                       hl7-fhir-au-core.au-core-healthcareservice/schema}}}},
         :zen.fhir/type "Task"}}
