{ns hl7-fhir-au-draft-diagnostic-orders.eorders-consentwithdrawl,
 import #{hl7-fhir-au-base.au-relatedperson
          zen.fhir
          hl7-fhir-au-core.au-core-patient
          hl7-fhir-r4-core.Consent
          hl7-fhir-au-draft-diagnostic-orders.eorders-diagnosticrequest
          hl7-fhir-au-draft-diagnostic-orders.eorders-consentwithdrawl
          hl7-fhir-au-core.au-core-organization},
 provision-schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
                   :zen.fhir/version "0.6.30-13",
                   :type zen/map,
                   :keys {:type {:match "deny", :fhir/flags #{:MS}},
                          :action {:type zen/vector,
                                   :every {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/consentaction",
                                                              :code "disclose"}}},
                                           :fhir/flags #{:MS}},
                                   :minItems 1,
                                   :maxItems 1},
                          :class {:type zen/vector,
                                  :every {:match {:system "http://hl7.org/fhir/resource-types",
                                                  :code "DiagnosticReport"},
                                          :fhir/flags #{:MS}},
                                  :minItems 1},
                          :data {:type zen/vector,
                                 :every {:type zen/map,
                                         :keys {:meaning {:match "dependents",
                                                          :fhir/flags #{:MS}},
                                                :reference {:fhir/flags #{:MS},
                                                            :confirms #{zen.fhir/Reference},
                                                            :zen.fhir/reference {:refers #{hl7-fhir-au-draft-diagnostic-orders.eorders-diagnosticrequest/schema}},
                                                            :zen/desc "Reference to dependent ServiceRequest(s). (See description for unresolved problem)"}},
                                         :fhir/flags #{:MS}},
                                 :minItems 1},
                          :provision {:type zen/vector,
                                      :every {:confirms #{hl7-fhir-au-draft-diagnostic-orders.eorders-consentwithdrawl/provision-schema}}}},
                   :require #{:type :class :action :data},
                   :fhir/flags #{:MS}},
 schema {:zen.fhir/version "0.6.30-13",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4-core.Consent/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://draft.hl7.org.au/fhir/diagnostic-orders/StructureDefinition/eorders-consentwithdrawl",
         :require #{:patient
                    :provision
                    :organization
                    :dateTime
                    :policyRule},
         :type zen/map,
         :zen/desc "Diagnostic Withdraw Consent to upload result to MHR",
         :keys {:patient {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-patient/schema}}},
                :category {:type zen/vector,
                           :every {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/v3-ActCode",
                                                      :code "IDSCL"}}},
                                   :fhir/flags #{:MS}},
                           :maxItems 1},
                :provision {:confirms #{hl7-fhir-au-draft-diagnostic-orders.eorders-consentwithdrawl/provision-schema}},
                :organization {:type zen/vector,
                               :every {:fhir/flags #{:MS},
                                       :confirms #{zen.fhir/Reference},
                                       :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-organization/schema}}},
                               :minItems 1,
                               :maxItems 1},
                :scope {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/consentscope",
                                           :code "patient-privacy"}}},
                        :fhir/flags #{:MS}},
                :dateTime {:fhir/flags #{:MS}},
                :status {:match "active", :fhir/flags #{:MS}},
                :policyRule {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/v3-ActCode",
                                                :code "OPTIN"}}},
                             :fhir/flags #{:MS}},
                :performer {:type zen/vector,
                            :every {:fhir/flags #{:MS},
                                    :confirms #{zen.fhir/Reference},
                                    :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-patient/schema
                                                                   hl7-fhir-au-base.au-relatedperson/schema}}},
                            :maxItems 1}},
         :zen.fhir/type "Consent"}}
