{ns hl7-fhir-au-draft-diagnostic-orders.eorders-practitionerrole,
 import #{zen.fhir hl7-fhir-au-core.au-core-practitionerrole},
 schema {:zen.fhir/version "0.6.30-7",
         :confirms #{hl7-fhir-au-core.au-core-practitionerrole/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://draft.hl7.org.au/fhir/diagnostic-orders/StructureDefinition/eorders-practitionerrole",
         :require #{:location},
         :type zen/map,
         :zen/desc "Diagnostic PractitionerRole profile",
         :keys {:location {:type zen/vector,
                           :every {:confirms #{zen.fhir/Reference},
                                   :zen.fhir/reference {:refers #{}}},
                           :minItems 1}},
         :zen.fhir/type "PractitionerRole"}}
