{ns hl7-fhir-au-draft-diagnostic-orders.eorders-placergroupnumber,
 import #{zen.fhir
          hl7-fhir-au-base.au-localorderidentifier
          hl7-fhir-au-core.au-core-organization},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Diagnostic Placer Group Number",
         :zen.fhir/type "Identifier",
         :zen.fhir/profileUri "http://draft.hl7.org.au/fhir/diagnostic-orders/StructureDefinition/eorders-placergroupnumber",
         :zen.fhir/version "0.6.29",
         :confirms #{hl7-fhir-au-base.au-localorderidentifier/schema},
         :type zen/map,
         :keys {:type {:type zen/map,
                       :keys {:coding {:type zen/vector,
                                       :every {:match {:system "http://terminology.hl7.org/CodeSystem/v2-0203",
                                                       :code "PGN"},
                                               :zen/desc "Planer Group Number"},
                                       :minItems 1,
                                       :maxItems 1}},
                       :require #{:coding},
                       :zen/desc "Coded identifier type for placer group number"},
                :system {:zen/desc "System identifier of the organisation that assigned the placer group number, preferably a HPI-O scoped local order identifier system. For example http://ns.electronichealth.net.au/id/hpio-scoped/order/1.0/8003620000000000"},
                :value {:zen/desc "Placer group number"},
                :assigner {:type zen/map,
                           :keys {:display {:zen/desc "Organisation name"}},
                           :confirms #{zen.fhir/Reference},
                           :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-organization/schema}},
                           :zen/desc "Organisation that assigned the placer group number"}}}}
