{ns hl7-fhir-au-draft-diagnostic-orders.eorders-doctornumber,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.29-4",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://draft.hl7.org.au/fhir/diagnostic-orders/StructureDefinition/eorders-doctornumber",
         :require #{:system :value},
         :type zen/map,
         :zen/desc "Diagnostic Doctor Number",
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/v2-0203",
                                          :code "DN"}}}},
                :system {:zen/desc "HPI-O scoped local identifier for Lab Doctor Codes. http://ns.electronichealth.net.au/id/hpio-scoped/service-provider-individual/1.0/<hpi-o of lab>"},
                :value {:zen/desc "Doctor Number"},
                :assigner {:type zen/map,
                           :keys {:display {:zen/desc "Filler organization name"}},
                           :require #{:display},
                           :confirms #{zen.fhir/Reference},
                           :zen.fhir/reference {:refers #{}}}},
         :zen.fhir/type "Identifier"}}
