{ns hl7-fhir-au-draft-diagnostic-orders.eorders-servicerequest-fasting,
 import #{zen.fhir hl7-fhir-r4-core.servicerequest-precondition},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Extension to request patient fasting",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://draft.hl7.org.au/fhir/diagnostic-orders/StructureDefinition/eorders-servicerequest-fasting",
         :zen.fhir/version "0.6.32",
         :confirms #{hl7-fhir-r4-core.servicerequest-precondition/schema},
         :fhir/flags #{:MS}}}
