{ns hl7-fhir-au-draft-diagnostic-orders,
 import #{hl7-fhir-au-core zen.fhir hl7-fhir-r4-core hl7-fhir-au-base},
 extensions {:zen/tags #{zen.fhir/extensions},
             :schemas {"http://draft.hl7.org.au/fhir/diagnostic-orders/StructureDefinition/eorders-servicerequest-fasting" #zen/quote hl7-fhir-au-draft-diagnostic-orders.eorders-servicerequest-fasting/schema}},
 ig {:zen/tags #{zen.fhir/ig},
     :profiles profiles,
     :extensions extensions,
     :structures structures,
     :value-sets value-sets},
 profiles {:zen/tags #{zen.fhir/profiles},
           :schemas {"ServiceRequest" {"http://draft.hl7.org.au/fhir/diagnostic-orders/StructureDefinition/eorders-diagnosticrequest" #zen/quote hl7-fhir-au-draft-diagnostic-orders.eorders-diagnosticrequest/schema},
                     "Encounter" {"http://draft.hl7.org.au/fhir/diagnostic-orders/StructureDefinition/eorders-encounter" #zen/quote hl7-fhir-au-draft-diagnostic-orders.eorders-encounter/schema},
                     "Task" {"http://draft.hl7.org.au/fhir/diagnostic-orders/StructureDefinition/diagnostic-task-group" #zen/quote hl7-fhir-au-draft-diagnostic-orders.diagnostic-task-group/schema,
                             "http://draft.hl7.org.au/fhir/diagnostic-orders/StructureDefinition/diagnostic-task-base" #zen/quote hl7-fhir-au-draft-diagnostic-orders.diagnostic-task-base/schema,
                             "http://draft.hl7.org.au/fhir/diagnostic-orders/StructureDefinition/eorders-diagnosticrequesttask" #zen/quote hl7-fhir-au-draft-diagnostic-orders.eorders-diagnosticrequesttask/schema},
                     "CommunicationRequest" {"http://draft.hl7.org.au/fhir/diagnostic-orders/StructureDefinition/diagnostic-communicationrequest" #zen/quote hl7-fhir-au-draft-diagnostic-orders.diagnostic-communicationrequest/schema},
                     "PractitionerRole" {"http://draft.hl7.org.au/fhir/diagnostic-orders/StructureDefinition/eorders-practitionerrole" #zen/quote hl7-fhir-au-draft-diagnostic-orders.eorders-practitionerrole/schema},
                     "Consent" {"http://draft.hl7.org.au/fhir/diagnostic-orders/StructureDefinition/eorders-consentwithdrawl" #zen/quote hl7-fhir-au-draft-diagnostic-orders.eorders-consentwithdrawl/schema},
                     "Coverage" {"http://draft.hl7.org.au/fhir/diagnostic-orders/StructureDefinition/eorders-coverage" #zen/quote hl7-fhir-au-draft-diagnostic-orders.eorders-coverage/schema}}},
 structures {:zen/tags #{zen.fhir/structures},
             :schemas {"http://draft.hl7.org.au/fhir/diagnostic-orders/StructureDefinition/eorders-doctornumber" #zen/quote hl7-fhir-au-draft-diagnostic-orders.eorders-doctornumber/schema,
                       "http://draft.hl7.org.au/fhir/diagnostic-orders/StructureDefinition/eorders-placergroupnumber" #zen/quote hl7-fhir-au-draft-diagnostic-orders.eorders-placergroupnumber/schema}},
 value-sets {:zen/tags #{zen.fhir/value-sets},
             :value-sets {"http://draft.hl7.org.au/fhir/diagnostic-orders/ValueSet/diagnostic-communication-medium" #zen/quote hl7-fhir-au-draft-diagnostic-orders.value-set.diagnostic-communication-medium/value-set,
                          "http://draft.hl7.org.au/fhir/diagnostic-orders/ValueSet/eorders-servicerequeststatus" #zen/quote hl7-fhir-au-draft-diagnostic-orders.value-set.eorders-servicerequeststatus/value-set,
                          "http://draft.hl7.org.au/fhir/diagnostic-orders/ValueSet/eorders-taskstatus" #zen/quote hl7-fhir-au-draft-diagnostic-orders.value-set.eorders-taskstatus/value-set,
                          "http://draft.hl7.org.au/fhir/diagnostic-orders/ValueSet/eorders-servicerequestcategory" #zen/quote hl7-fhir-au-draft-diagnostic-orders.value-set.eorders-servicerequestcategory/value-set,
                          "http://draft.hl7.org.au/fhir/diagnostic-orders/ValueSet/diagnostic-communication-category" #zen/quote hl7-fhir-au-draft-diagnostic-orders.value-set.diagnostic-communication-category/value-set,
                          "http://draft.hl7.org.au/fhir/diagnostic-orders/ValueSet/eorders-coverage-type" #zen/quote hl7-fhir-au-draft-diagnostic-orders.value-set.eorders-coverage-type/value-set,
                          "http://draft.hl7.org.au/fhir/diagnostic-orders/ValueSet/eorders-priority" #zen/quote hl7-fhir-au-draft-diagnostic-orders.value-set.eorders-priority/value-set,
                          "http://draft.hl7.org.au/fhir/diagnostic-orders/ValueSet/eorders-taskcode" #zen/quote hl7-fhir-au-draft-diagnostic-orders.value-set.eorders-taskcode/value-set,
                          "http://draft.hl7.org.au/fhir/diagnostic-orders/ValueSet/eorders-coverage-status" #zen/quote hl7-fhir-au-draft-diagnostic-orders.value-set.eorders-coverage-status/value-set,
                          "http://draft.hl7.org.au/fhir/diagnostic-orders/ValueSet/diagnostic-task-tag" #zen/quote hl7-fhir-au-draft-diagnostic-orders.value-set.diagnostic-task-tag/value-set}}}
