{ns hl7-fhir-au-draft-diagnostic-orders.value-set.eorders-coverage-type,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "EOrders Coverage Type and Self Pay codes",
            :zen.fhir/version "0.6.22-2",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-ActCode",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://terminology.hl7.org/CodeSystem/coverage-selfpay",
                                  :zen.fhir/content :bundled}},
            :uri "http://draft.hl7.org.au/fhir/diagnostic-orders/ValueSet/eorders-coverage-type",
            :version "0.0.1",
            :ftr {:module "hl7-fhir-au-draft-diagnostic-orders",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
