{ns hl7-fhir-au-draft-diagnostic-orders.value-set.eorders-priority,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Diagnostic Priority codes",
            :zen.fhir/version "0.6.31",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/request-priority",
                                  :zen.fhir/content :bundled}},
            :uri "http://draft.hl7.org.au/fhir/diagnostic-orders/ValueSet/eorders-priority",
            :version "0.0.2",
            :ftr {:module "hl7-fhir-au-draft-diagnostic-orders",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
